* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.navbar {
    max-height: 200px;
    background-color: #072b99;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(90deg, #0474e5 10%, #072b99 100%);
    color: white;
}

.navbar--logo {
    max-width: 200px;
    padding: 10px;
    margin-right: 200px;
}

.navbar--title {
    font-size: 1.25rem;
}

.navbar--text {
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
}

.job-card {
    display: grid;
    margin: 2rem;
    border-radius: 2px;
    border: 1px solid;
    box-shadow: inset 5px 5px 10px -3px rgba(249, 247, 247, 0.7);
}

.line {
    width: 478px;
    height: 0px;
    border: 1px solid #F8A832;
}

.form {
    max-width: 800px;
    display: grid;
    /* grid-template-rows / grid-template-columns values */
    grid-template: 40px 40px 40px 40px 10px 40px 40px/ 1fr 1fr;
    gap: 17px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.form-title {
    text-align: center;
}

.form-input {
    border-radius: 5px;
    border: 1px solid #072b99;
    text-indent: 5px;
}

.form-select {
    grid-column: 1 / -1;
}

.form-button {
    grid-column: 1 / -1;
    background: linear-gradient(90.41deg, #0474e5 10%, #072b99 100%);
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.search-bar {
    max-width: 600px;
    display: grid;
    /* grid-template-rows / grid-template-columns values */
    grid-template: 40px / 3fr 1fr;
    gap: 10px;
    margin: 0 auto;
    margin-top: 40px;
}

.no-search-result {
    text-align: center;
}
.search-input {
    border-radius: 5px;
    border: 1px solid #072b99;
    text-indent: 5px;
}

.search-button {
    background: linear-gradient(90.41deg, #0474e5 10%, #072b99 100%);
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.search-button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.search-label {
    background: linear-gradient(90.41deg, #0474e5 10%, #072b99 100%);
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
}